@font-face {
    font-family: AmaticSC-Bold;
    src: url(fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url(fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?h616k8');
    src: url('fonts/icomoon.eot?h616k8#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h616k8') format('truetype'),
        url('fonts/icomoon.woff?h616k8') format('woff'),
        url('fonts/icomoon.svg?h616k8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
    content: "\e900";
    color: #2e3187;

}

.icon-instagram:before {
    content: "\e901";
    color: #2e3187;
}

.icon-linkedin:before {
    content: "\e902";
    color: #2e3187;
}

.icon-youtube:before {
    content: "\e903";
    color: #2e3187;
}


* {
    font-family: AmaticSC-Bold;
}

.logo-img {
    max-width: 100px;
    transition: 0.1s;
}

.nav-button-image {
    border: none;
}

.navbar {
    text-transform: uppercase;
}

.list-logo-elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link-hover {
    color: #2d3035;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.nav-link-hover:hover {
    color: #ff7442;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.load-more {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.load-more:hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #ff7442;
    -webkit-box-shadow: inset 0 0 0 2em #ff7442;
    box-shadow: inset 0 0 0 2em #ff7442;
    color: white;

}

.card {
    cursor: pointer;
}
.imgBlock {
    display: none;
}

footer {
    background-color: #dbdbdb;
    overflow: hidden;
}

.footer-link-img {
    fill: aqua;
}

.copyright {
    font-weight: 600;
    color: #2e3187;

}

.list-inline-item a:hover {
    text-decoration: none;
}

.list-inline-item:hover .social-link:before {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #ff7442;
}

.social-link {
    margin-bottom: 0;
    font-size: 1.8rem;
}

.goTopButton {
    transition: 0.1s;
    opacity: 0;
    visibility: hidden;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    background-color: white;
    color: #2e3187;
    cursor: pointer;
    padding: 15px;
    font-family: AmaticSC-Regular;
    border-radius: 15px;
    font-size: 18px;
}

.goTopButton:hover {
    text-decoration: none;
    color: white;
    border: 1px solid #ff7442;
    -webkit-box-shadow: inset 0 0 0 2em #ff7442;
    box-shadow: inset 0 0 0 2em #ff7442;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}